@import "./partials/fonts";
@import "./partials/normalize";
@import "./partials/variables";
@import "./partials/basic";
@import "./partials/mixins";
@import "./partials/shared";
@import "./partials/media";

@import "./partials/header";
@import "./partials/slider";
@import "./partials/calculator";
