.main-header {
  background-color: white;
}
.main-header__content {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 28px 0 28px 0;
}

// header left side
.main-header__left {
  display: flex;
  justify-content: flex-start;
  font-family: $font-text;
}

.main-header__logo {
  display: inline-block;
  margin-right: 1.09rem;
}

.logo__image {
  height: 100%;
  width: 100%;
}

.main-header__slogan {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: #888888;
  padding-left: 1.065rem;
  border-left: 2px solid #C4C4C4;

  @media(max-width: 481px) {
    display: none;
  }
}

// header right side
.main-header__right {
  display: flex;
  justify-content: flex-end;
  font-family: $font-link-btn;
}

.main-menu {
  margin-right: 2.5rem;
  z-index: 20;
}

.burger-menu__button {
  display: none;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 100;
  -webkit-tap-highlight-color: transparent;

  @media (max-width: 1020px) {
    display: inline-block;
    height: 40px;
    width: 40px;
    padding: 7px;
  }

  span {
    display: inline-block;
    position: relative;
    height: 3px;
    width: 22px;
    background-color: #575757;
    border-radius: 30px;
  }
  span::before,
  span::after {
    position: absolute;
    content: "";
    right: 0;
    height: 3px;
    width: 16px;
    background-color: #575757;
    border-radius: 30px;

    transition: all .15s ease-out;
  }
  span::before {
    bottom: 10px;
  }
  span::after {
    top: 10px;
  }

  &--active {
    background-color: $color-accent;
    border-radius: 6px;

    span,
    span::before,
    span::after {
      background-color: white;
    }

    span::before {
      transform: rotate(35deg);
      width: 11px;
      bottom: 4px
    }
    span::after {
      transform: rotate(-35deg);
      width: 11px;
      top: 4px;
    }
  }
}

.menu__body {
  @media(max-width: 1021px) {
    position: fixed;
    height: 100vh;
    width: 280px;
    top: 0;
    right: 0;
    visibility: hidden;
    overflow: auto;
    transform: translateX(100%);
    background-color: white;
    z-index: 90;
    border-radius: $border-radius-slider 0 0 0;

    &--active {
      visibility: visible;
      transform: translateX(0);
      transition: all .3s ease;
    }
  }
}

.menu__list {
  display: flex;

  @media(max-width: 1021px) {
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 0;
  }
}

.menu__item {
  @media(max-width: 1021px) {
    padding: 10px;
    margin-bottom: 30px;
  }
}

.menu__item:first-child {
  position: relative;
  &:hover {
    .submenu__list {
      transform: translateY(0);
      visibility: visible;
      opacity: 1;
    }
  }
}

.menu__item:not(.menu__item:last-child) {
  margin-right: 2rem;
}

.menu__link {
  @include adaptive-font(16, 11);
  color: $color-secondary;
  padding: 0.625rem;
  border-radius: $border-radius-menu-link;
  letter-spacing: 0.5px;

  transition: background-color .2s ease-out;

  @media(max-width: 1021px) {
    font-size: 1.3rem;
    padding: 10px;
  }

  &:hover {
    background-color: #F3F3F4;
  }
  &:active {
    background-color: darken(#F3F3F4, 10%);
  }
}

.submenu__list {
  position: absolute;
  left: -10px;
  top: 35px;
  width: 15.18rem;
  font-family: $font-text;
  background-color: white;
  border:1px solid #F1F1F1;
  border-radius: $border-radius-input;
  padding: 0;

  transform: translateY(50%);
  visibility: hidden;
  opacity: 0;
  transition: all .15s ease-out .2s;

  box-shadow: 0 4px 4px rgba(51, 51, 51, 0.04), 0 14px 24px rgba(51, 51, 51, 0.12);
}

.submenu__item {
  padding: 0.800rem;
  transition: background-color .25s ease;

  &:hover {
    background-color: #F1F1F1;
  }
  &:first-child {
    border-radius: $border-radius-input $border-radius-input 0 0;
  }
  &:last-child {
    border-radius: 0 0 $border-radius-input $border-radius-input;
  }
}

.submenu__link {
  color: $color-secondary;
}

.button-order--menu {
  color: $color-accent;
  background-color: white;

  @media (max-width: 1020px) {
    display: none;
  }

  &:hover {
    color: white;
    background-color: $color-btn1-bg-hover;
  }

  &:active {
    background-color: $color-btn1-bg-pressed;
  }
}

.button-order--menu-mob {
  display: none;
  color: white;
  background-color: $color-accent;

  @media (max-width: 1021px) {
    display: block;
    font-size: 1rem;
    margin: calc(100vh - 480px) auto 50px auto;
  }
}
