@import "../../../node_modules/swiper/swiper.scss";
@import "../../../node_modules/swiper/components/navigation/navigation.scss";
@import "../../../node_modules/swiper/components/pagination/pagination.scss";
@import "../../../node_modules/swiper/components/effect-fade/effect-fade.scss";
@import "../../../node_modules/swiper/components/controller/controller.scss";


.main-slider {
  font-family: $font-title;
  letter-spacing: 0.5px;
  color: white;
}

.main-slider__content {
  position: relative;
}

.slider-slide {
  display: flex;
  background-color: black;
  border: 1px solid black;
  border-radius: $border-radius-slider;

  @media (max-width: 868px) {
    flex-direction: column;
  }

  @media (max-width: 620px) {
    border-radius: 0 0 $border-radius-slider $border-radius-slider;
  }
}

.slider-slide__left,
.slider-slide__right {
  width: 50%;
  background-color: inherit;
}

.slider-slide__left {
  padding: 60px 0 100px 70px;
  border-radius: $border-radius-slider 0 0 $border-radius-slider;

  @media (max-width: 868px) {
    position: relative;
    order: 2;
    flex-grow: 1;
    width: calc(100% - 73px);
    height: 150px;
    padding: 10px 0 20px 70px;
    border-radius: 0 0 $border-radius-slider $border-radius-slider;
  }
  @media (max-width: 530px) {
    padding: 0 15px 20px 15px;
  }
}
.slider-slide__left-content {
  width: 80%;

  @media (max-width: 868px) {
    position: absolute;
    top: -50px;
  }

  @media  (max-width: 478px) {
    top: -20px;
  }

  h1,
  h3 {
    margin: 0 0 32px 0;
    line-height: 90%;
    @include adaptive-font(54, 6);

    @media (max-width: 868px) {
      @include adaptive-font(54, 38);
    }

    @media (max-width: 530px) {
      font-size: 1.612rem;
    }
  }

  p {
    margin: 0 0 24px 0;
    @media (max-width: 868px) {
      display: none;
    }
  }
}

.button-order--slider {
  color: white;
  background-color: $color-accent;

  @media (max-width: 868px) {
    font-size: 1rem;
  }

  @media (max-width: 478px) {
    font-size: 0.8rem;
  }

  &:hover {
    color: $color-accent;
    background-color: white;
    border-color: white;
  }

  &:active {
    background-color: darken(white, 20%);
    border-color: darken(white, 20%);
  }
}

.slider-slide__right {
  width: 70%;
  background-image: url('../img/slider-car.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 0 $border-radius-slider $border-radius-slider 0;

  @media (max-width: 868px) {
    //flex-grow: 1;
    order: 1;
    width: 100%;
    height: 280px;
    background-position: bottom;
    background-size: cover;
    border-radius: $border-radius-slider $border-radius-slider 0 0;
    //border: 1px solid white;
  }

  @media (max-width: 478px) {
    background-size: initial;
    //background-position: right;
    background-position: right 18.6% bottom 35%;
  }
}

.swiper-button-next,
.swiper-button-prev {
  border: 2px solid #626262;
  border-radius: 50%;

  transition: border-color .2s ease-out;

  @media (max-width: 868px) {
    display: none;
  }

  img{
    display: block;
    margin: 0 auto;
    width: 50%;
    text-align: center;
  }

  &::after {
    content: "";
  }

  &:hover {
    border-color: white;
  }
}

.swiper-button-prev {
  width: 24px;
  height: 24px;
  top: 89.3%;
  left: auto;
  right: 150px;

  img {
    transform: rotate(180deg);
    margin-right: 6px;
  }
}
.swiper-button-next {
  width: 48px;
  height: 48px;
  top: 86%;
  right: 90px;
}

.slider-pagination {
  bottom: 11.3%;
  top: auto;
  span {
    background-color: white;
    width: 6px;
    height: 6px;
  }
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 8%;
}

.swiper-pagination-bullet-active {
  transform: scale(1.3);
}
