// ---------- variables ------------------------------------

$max-width: 1440px;
$spacing: 48px;

$font-title: "Nekst-Black";
$font-link-btn: "Gilroy-Bold";
$font-text: "Gilroy-Regular";

$color-hover-menu-links: #F3F3F4;

$color-accent:          #FF9514;
$color-secondary:        #575757;

// header btn "Оставить заявку"
$color-btn1-bg-normal:   #E5E5E5;
$color-btn1-bg-hover:    #FF9514;
$color-btn1-bg-pressed:  #FFA83D;
$color-btn1-text-normal: #FF9514;
$color-btn1-text-hover:  #FFFFFF;

// other buttons "Оставить заявку"
$color-btn2-bg-normal:   #FF9514;
$color-btn2-bg-hover:    #111111;
$color-btn2-bg-pressed:  #575757;
$color-btn1-text:        #FFFFFF;


// border-radius
$border-radius-btn-order: 40px;
$border-radius-slider: 32px;
$border-radius-menu-mob: 32px;
$border-radius-modal: 32px;
$border-radius-input: 16px;
$border-radius-menu-link: 6px;

